Flask==1.0.2
joblib==0.17.0
numpy==1.18.5
pandas==0.23.0
torch== https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp37-cp37m-linux_x86_64.whl
sentence_transformers==0.4.1.2
spacy==2.0.18
Pattern==3.6
scikit_learn==0.24.1
